@font-face {
    font-family: 'dogica';
    src: url('fontfamily/dogica.ttf') format('truetype');
  }

  
/* 전체 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'dogica';
    background-color: black;
    color: black;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('pixelfile/background6.jpg'); /* 이미지 경로 */
    background-size: cover;   /* 이미지 크기 조정 */
    background-position: center;  /* 중앙 정렬 */
    background-attachment: fixed; /* 스크롤 시 고정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

/* 작은 게임 박스 */
.game-container {
    position: relative;
    width: 800px;
    height: 400px;
    background: #333;
    overflow: hidden;
    border: 3px solid white;
}

/* 장애물 스타일 */
.obstacle, .big-obstacle {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 일반 장애물 크기 */
.obstacle {
    width: 50px;
    height: 50px;
}

/* 큰 장애물 크기 */
.big-obstacle {
    width: 200px;
    height: 200px;
}

/* 캐릭터 스타일 */
#character {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 50px;
    height: auto;
}


/* 상태 텍스트 */
#status {
    font-size: 24px;
    margin-top: 20px;
}

/* 버튼 스타일 */
.button {
    position: fixed;
    top: 20px;
    width: 0;
    height: 0;
    cursor: pointer;
    background: none; 
    border-style: solid;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    }
    
    /* 왼쪽 화살표 버튼 */
    .button.left {
    left: 10px;
    border-width: 10px 15px 10px 0; 
    border-color: transparent #BCC4DB transparent transparent;
    width: 0; 
    height: 0;
    }
    
    /* 오른쪽 화살표 버튼 */
    .button.right {
    right: 10px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #BCC4DB;
    width: 0;
    height: 0;
    }
    
    .button:hover {
    border-right-color: #F3E9DD;
    }
    
    .button.right:hover {
    border-left-color: #F3E9DD;
    }
    
    